<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Copy list</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
</head>

<style>
  a{
    color:#fff;
  }
</style>

<body>
<a class="btn btn-primary" href="/index">Home Page</a>
<table class="table table-striped table-bordered table-hover text-center">
  <caption style="text-align: center">Copy List</caption>
  <thead>
  <tr style="text-align:center">
    <th>Copyid</th>
    <th>Status</th>
    <th>Bid</th>
    <th>Rid</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="copies:${copies}">
    <td th:text="${copies.copyid}"></td>
    <td th:text="${copies.cstatus}"></td>
    <td th:text="${copies.bid}"></td>
    <td th:text="${copies.rid}"></td>
    <td>
      <a class="btn btn-primary" th:href="@{'/updateCopy/'+${copies.copyid}}">update</a>
      <a class="btn btn-danger" th:href="@{'/deleteCopy/'+${copies.copyid}}">delete</a>
    </td>
  </tr>
  </tbody>
</table>

<form action="/insertCopy" method="post" style="box-shadow: #bce8f1">
  copyid：<input class="form-control" type="text" th:value="${copyid}" name="copyid" required="required">
  <label>cstatus:</label> <select name="cstatus" style="width: 150px">
  <option value ="A">Available</option>
  <option value="N">Not available</option>
</select><br>
  bid：<input class="form-control" type="text" th:value="${bid}" name="bid" required="required">
  rid：<input class="form-control" type="text" th:value="${rid}" name="rid">
  <button class="btn btn-primary btn-lg btn-block" style="height:50px">Insert Copy</button>
</form>
</body>
</html>
