<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>signUp</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="/index">Index</a>
        </li>
        <li>
          <a href="/books">Book</a>
        </li>
        <li>
          <a href="/events">Event</a>
        </li>
      </ul>
      <div class="jumbotron">
        <h1>
          Welcome!
        </h1>
        <p>
          This is Customer's RTL management system!
        </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>