<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Payment</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<style>
  a{
    color:#fff;
  }
</style>
<body>
<a class="btn btn-primary" href="/payments">Back</a>
<form action="/updatePayment1" method="post" style="box-shadow: #bce8f1">
  pid：<input class="form-control" type="text" th:value="${pid}" name="pid" required="required">
  pdate：<input class="form-control" type="text" th:value="${pdate}" name="pdate" required="required">
  <label>method:</label> <select name="method" style="width: 150px">
  <option value ="Cash">Cash</option>
  <option value="Credit">Credit</option>
  <option value="Debit">Debit</option>
  <option value="Paypal">Paypal</option>
</select><br>
  holder_fname：<input class="form-control" type="text" th:value="${holder_fname}" name="holder_fname" required="required">
  holder_lname：<input class="form-control" type="text" th:value="${holder_lname}" name="holder_lname" required="required">
  pamount：<input class="form-control" type="text" th:value="${pamount}" name="pamount" required="required">
  cid：<input class="form-control" type="text" th:value="${cid}" name="cid" required="required">
  iid：<input class="form-control" type="text" th:value="${iid}" name="iid" required="required">
  <button class="btn btn-primary btn-lg btn-block" style="height:50px">Update Payment</button>
</form>
</body>
</html>